<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="MathPHP">
    <description>PSR-12 rules for the MathPHP scalar expression evaluator.</description>

    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="8"/>

    <file>src</file>
    <file>tests</file>
    <file>tools</file>

    <rule ref="PSR12"/>
</ruleset>
